#main-div {
  margin-top: 100px;
  margin-bottom: 120px;
}

.container {
  max-width: 600px;
}


#main-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 30px;
  color:#fff;
  background-color:#008cba;
  border-color:#0079a1;
  max-width: 400px;
  text-align: center;
}

#main-btn:hover {
  background-color:#006d91;
  border-color:#004b63;
  cursor:pointer;
}

#name {
  font-size: 60px;
  margin: 0 auto;
}

#description {
  margin: 0 auto;
  font-size: 25px;
}
